// Mixins in here
.button(@background: @eastern-blue, @color: white, @width: auto) {
    border: 1px solid @eastern-blue;
    width: @width;
    border-radius: 10px;
    background: @background;
    color: @color;
    padding: 10px;
    font-size: 2rem;

}